<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Sale App</title>
</head>
<body>
    <div class="header">Python Flask</div>
    <ul class="categories">
        <a href="{{ url_for('product_list') }}">Tất cả sản phẩm</a>
        {% for category in categories %}
        <li><a class="category" href="#">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>